header {
  top: 0;
  position: sticky;
  z-index: 20;
  padding: 16px 0 0;
}

button:focus {
  outline: 0 !important;
}

body {
  min-width: 320px;
}

#root {
  min-height: 100vh;
}

main {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.not-found {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 767px) {
  header {
    padding-top: 12px;
  }
}
